{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended"
  ],
  "plugins": [
    "html"
  ],
  "rules": {
    "no-console": 1
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "webextensions": true
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
